body {
    background: rgb(175, 238, 238);
    margin: 0;
    padding: 0;
  }

  .circle{
    position: relative;
    width: 45%;
    height: 45%;
    border-radius: 50%;
    top: 30%;
    left: 50%;
    background: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 2px solid black;
    animation: circle-animation 1s infinite;
    transform: translateX(-50%);
  }

  .lips{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 60px;
    height: 30px;
    border-radius: 50%;
    background: none;
    border-bottom: 5px solid black;
    animation: lips-animation 1s infinite;
    transform: translateX(-50%);
  }

  .hat-bottom{
    width: 250px;
    background-color: #ebf305;
    border: 2px solid black;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 33%;
  }

  .hat-top{
    width: 150px;
    background-color: #f6ff00;
    border: 2px solid black;
    height: 100px;
    position: absolute;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 18%;
  }
  
  .hit-area {
    position: relative;
    width: 480px;
    height: 500px;
    margin: 0 auto;
  }
  
  .hitbox {
    width: 60px;
    height: 100px;
    float:left;
  }
  
  .eye {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 25%;
    top: 40%;
    background-color: red;
    border: 2px solid black;
    pointer-events: none;
  }
  
  .eye + .eye {
    left: 55%;
  }
  
  .pupil {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    transition: all .5s ease;
  }
  
  .eyelid {
    width: 150px;
    height: 100px;
    background-color: rgb(175, 238, 238);
    position: absolute;
    left: 20%;
    top: 25%;
    pointer-events: none;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 4.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-direction: alternate;
    -webkit-animation-delay: 1s;
    -webkit-transition: all .5s ease;
  }
  
  .eyelid + .eyelid {
    left: 50%;
  }
  
  @-webkit-keyframes blink {
    0% {
      top: 25%;
    }
    95% {
      top: 25%;
    }
    100% {
      top: 40%;
    }
  }
  
  .hitbox:hover ~ .eyelid {
    -webkit-transform: rotate(20deg);
  }
  
  .hitbox:hover ~ .eyelid:nth-of-type(2n+1) {
    -webkit-transform: rotate(-20deg);
  }
  
  #c-3:hover ~ .eyelid {
    -webkit-transform:  rotate(20deg);
  }
  
  #c-3:hover ~ .eyelid:nth-of-type(2n+1) {
    -webkit-transform: rotate(-20deg);
  }
  
  #a-1:hover ~ .eye > .pupil {
    -webkit-transform: rotate(60deg) translate(-25px);
  }
  
  #a-2:hover ~ .eye > .pupil {
    -webkit-transform: rotate(70deg) translate(-25px);
  }
  
  #a-3:hover ~ .eye > .pupil {
    -webkit-transform: rotate(80deg) translate(-25px);
  }
  
  #a-4:hover ~.eye > .pupil {
    -webkit-transform: rotate(90deg) translate(-25px);
  }
  
  #a-5:hover ~ .eye > .pupil {
    -webkit-transform: rotate(100deg) translate(-25px);
  }

  #a-6:hover ~ .eye > .pupil {
    -webkit-transform: rotate(100deg) translate(-25px);
  }

  #a-7:hover ~ .eye > .pupil {
    -webkit-transform: rotate(105deg) translate(-25px);
  }

  #a-8:hover ~ .eye > .pupil {
    -webkit-transform: rotate(120deg) translate(-25px);
  }
  
  #b-1:hover ~ .eye > .pupil {
    -webkit-transform: rotate(50deg) translate(-15px);
  }
  
  #b-2:hover ~ .eye > .pupil {
    -webkit-transform: rotate(60deg) translate(-15px);
  }
  
  #b-3:hover ~ .eye > .pupil {
    -webkit-transform: rotate(70deg) translate(-15px);
  }
  
  #b-4:hover ~.eye > .pupil {
    -webkit-transform: rotate(80deg) translate(-15px);
  }
  
  #b-5:hover ~ .eye > .pupil {
    -webkit-transform: rotate(90deg) translate(-15px);
  }

  #b-6:hover ~ .eye > .pupil {
    -webkit-transform: rotate(100deg) translate(-15px);
  }

  #b-7:hover ~ .eye > .pupil {
    -webkit-transform: rotate(110deg) translate(-15px);
  }

  #b-8:hover ~ .eye > .pupil {
    -webkit-transform: rotate(120deg) translate(-15px);
  }
  
  #c-1:hover ~ .eye > .pupil {
    -webkit-transform: rotate(0deg) translate(-40px);
  }
  
  #c-2:hover ~ .eye > .pupil {
    -webkit-transform: rotate(0deg) translate(-30px);
  }
  
  #c-3:hover ~ .eye > .pupil {
    -webkit-transform: rotate(0deg) translate(-20px);
  }
  
  #c-4:hover ~ .eye:nth-of-type(2n+1) > .pupil {
    -webkit-transform: rotate(0deg) translate(10px);
  }
  
  #c-4:hover ~.eye > .pupil {
    -webkit-transform: rotate(0deg) translate(-10px);
  }
  
  #c-5:hover ~ .eye > .pupil {
    -webkit-transform: rotate(0deg) translate(10px);
  }

  #c-6:hover ~ .eye > .pupil {
    -webkit-transform: rotate(0deg) translate(20px);
  }

  #c-7:hover ~ .eye > .pupil {
    -webkit-transform: rotate(0deg) translate(30px);
  }

  #c-8:hover ~ .eye > .pupil {
    -webkit-transform: rotate(0deg) translate(40px);
  }
  
  #d-1:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-50deg) translate(-20px);
  }
  
  #d-2:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-60deg) translate(-20px);
  }
  
  #d-3:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-70deg) translate(-20px);
  }
  
  #d-4:hover ~.eye > .pupil {
    -webkit-transform: rotate(-80deg) translate(-20px);
  }
  
  #d-5:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-90deg) translate(-20px);
  }

  #d-6:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-100deg) translate(-20px);
  }

  #d-7:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-110deg) translate(-20px);
  }

  #d-8:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-120deg) translate(-20px);
  }
  
  #e-1:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-40deg) translate(-30px);
  }
  
  #e-2:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-50deg) translate(-30px);
  }
  
  #e-3:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-60deg) translate(-30px);
  }
  
  #e-4:hover ~.eye > .pupil {
    -webkit-transform: rotate(-70deg) translate(-30px);
  }
  
  #e-5:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-80deg) translate(-30px);
  }

  #e-6:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-90deg) translate(-30px);
  }

  #e-7:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-105deg) translate(-30px);
  }

  #e-8:hover ~ .eye > .pupil {
    -webkit-transform: rotate(-120deg) translate(-30px);
  }